
<body>
    <div class="container">
       
        <div class="text-container">
    {{#if loggedIn}}
        <div>
<form action="/search" method="GET">
    <input type="text" name="productSearch" placeholder="Search products">
    <button type="submit">Search</button>
</form>

        </div>
    {{else}}
            <div class="button-container">
                <a href="/login">
                    <button class="login">Log In</button>
                </a>
                <button class="signup">See Our Plans</button>
            </div>>
     {{/if}}    
{{#each posts}}
    <div class="post">
        <h2>{{this.title}}</h2>
        <p>{{this.content}}</p>
        <p>Posted by: {{this.user.name}}</p>
        <p>Posted on: {{this.date_created}}</p>
        {{#each this.comments}}
            <div class="comment">
                <p>{{this.content}}</p>
                <p>Comment by: {{this.user.name}}</p>
                <p>Commented on: {{this.date_created}}</p>
            </div>
        {{/each}}
    </div>
{{/each}}
</body>
