    <div class="post-container">
<div class="post-focus">
                <div class="post-header">
                    <a class="no-text-dec" href="/post/{{this.id}}"><h2>{{post.title}}</h2></a>
                    <div class="post-author">
                        <p>Posted by: {{post.user.name}}</p>
                    </div>
                </div>

                <div class="post-heading-line"></div>
                <p>{{post.content}}</p>
                <p>Posted on: {{formatDate post.date_created}}</p>
                <h3 class="comment-header" >Comments</h3>

                {{#each post.comments}}
                    <div class="comment">
                        <h4>{{this.user.name}}</h4>
                        <p>{{this.content}}</p>
                        <p>{{formatDate this.date_created}}</p>
                    </div>
                {{/each}}
                <div class="post-heading-line"></div>
                <div id="comment-form-container">
                    <form action="/api/comments" method="POST" class="comment-form">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <input type="hidden" name="user_id" value="{{user_id}}">
                        <textarea class="comment-input" name="content" id="comment" ></textarea>
                        <div id="comment-button-container">
                        <button id="comment-form-button" type="submit">Comment</button>
                        </div>
                    </form>
            </div>
            </div>